<h1>Stores</h1>
<p><%= link_to "New store", new_store_path if Current.user.can?("administration.store.manage", store: Current.store) %></p>
<ul>
  <% @stores.each do |store| %>
    <li><%= link_to "#{store.code} — #{store.name}", store %></li>
  <% end %>
</ul>
<p><%= link_to "Home", root_path %></p>
