<h1>Roles</h1>
<p><%= link_to "New role", new_role_path %></p>
<ul>
  <% @roles.each do |role| %>
    <li><%= link_to "#{role.code} — #{role.name}", role %></li>
  <% end %>
</ul>
<p><%= link_to "Home", root_path %></p>
