<% content_for :title, "Select store" %>

<h1>Select a store</h1>

<%= form_with url: store_selection_path, method: :post do |form| %>
  <div class="field">
    <%= form.label :store_id, "Store", class: "field-label" %>
    <%= form.collection_select :store_id, @memberships.map(&:store), :id, :name, { prompt: "Choose a store" }, class: "input" %>
  </div>
  <div class="form-actions">
    <%= form.submit "Continue", class: "button button-primary" %>
  </div>
<% end %>
